{% extends "0_base.html" %} {% block title %}My Tests{% endblock %} {% block content%}
<br/><br/><br/>

<h3 align="center">Name: {{user.patient_name}} <br/> Age: {{user.patient_age}}</h3>

<br/><br/>

{% if n==0 %}
    <h4 align="center"><strong>No tests to display</strong></h4>
{% endif %} 

  {% for test in user.tests %}
  
    <p style="text-decoration: none;"><em>{{ test.date }}</em> </p>
    <p style="text-decoration: none;">Test Name: <strong>{{ test.type }}</strong></p>
    <p style="text-decoration: none;">Result: <strong>{{ test.display }}</strong></p>
    <hr>

  {% endfor %}


<br/><br/><br/><br/>
{% endblock %}

